/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/*nav {
	margin-bottom: 2rem;
	background-color: white;
	padding: 0.8rem;
	padding-right: 10%;
	position: sticky;
	top: 0;
	z-index: 3;
}
.right-nav {
	float: right;
	display: inline-block;
	

}

#logo {
	display: inline-block;
	padding-left: 10rem;
	padding-top: 1rem;
	list-style-type: none;

}

.nav{
	margin: 0.5rem;
	display: inline-block;
}

.tuitt-button {
	display: inline-block;
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: .5rem 1rem;

}*/

nav {
   padding: 12px 20px;
   position: sticky;
   top: 0;
   background-color: white;
   border-bottom: 1px solid whitesmoke;
}
nav ul {
   max-width: 960px;
   margin: 0 auto;
}
nav li {
   display: inline-block;
}
.right-nav li {
   font-weight: 500;
   padding: 0 6px;
}
.right-nav {
   float: right;
}
ul {
	list-style-type: none;
}

.tuitt-button {
	display: inline-block;
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: .5rem 1rem;

}
#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
	color: white;
	text-align: right;
	min-height: 60vh;
}
.front-bg {
	background-color: rgb(0, 0, 0,0.50);
	padding-top: 2rem;
	padding-bottom: 5rem;
	padding: 10%;
	min-height: 60vh;
}
.front-bg .container {
	display: inline-block;
	max-width: 500px;
	z-index: 2;
}

div .title {
	color: white;
	position: absolute;
	bottom: 28rem;
	right: 20px;
	text-align: center;
	margin-right: 5rem;
	margin-left: 50rem;
	font-family: 'Zilla Slab';
	
}

div .subtitle {
	color: white;
	position: absolute;
	bottom: 24rem;
	right: 20px;
	text-align: center;
	margin-right: 5rem;
	margin-left: 45rem;
	font-family: 'Zilla Slab';
	font-size: 15px;
	z-index: 3;
}
.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.5rem;
	display: inline;
	margin-bottom: 1rem;
	margin-top: 0.5rem;
	position: absolute;
	bottom: 18rem;
	right: 10rem;
	text-align: right;
	margin-right: 5rem;
	z-index: 3;
}

.intro {
	text-align: center;
	margin-bottom: 1rem;
	margin-right: 10rem;
	margin-left: 10rem;
	margin-top: 2rem;

}

.pre-footer {
	text-align: center;
	margin-bottom: 2rem;
	margin-right: 10rem;
	margin-left: 10rem;
	margin-top: 2rem;

}

.book-button {
	color: white;
	font-weight: bold;
	background-color: #336589;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.5rem;
	display: inline;
	margin-top: 1rem;

}
footer {
	color: skyblue;
	text-align: center;
	font-size: 12px;
	margin-bottom: 4rem;
}

