
body {
	font-family: 'Sono', sans-serif;
}

/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


nav > ul > li {
	padding: 0.2rem;
	list-style-type: none;
	display: inline;
	text-align: right;
	position: sticky;
	

}

#logo {
	display: inline-block;
	margin-right: 2rem;
	margin-left: 2rem;
	margin-top: 2rem;
	margin-bottom: 0;

}
.nav {
	display: inline-block;
	list-style-type: none;
	text-align: right;
	margin-left: 1rem;

	
}
.tuitt-button {
	float: right;
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 0.5rem;
	padding: 0.5rem;
	display: inline;
	margin-right: 7rem;
	margin-bottom: 1rem;
}

div[class="right-nav"] {
	text-align: right;

}

div[class="container"] {
	text-align: right;
	position: relative;
}

.container img {
	padding-left: 1px;
	padding-right: 1px;
	width: 100%;
	max-width: 100%;
	height: 30rem;
	background-color: black;
	opacity: 0.9;
	position: sticky;
}

div .title {
	color: white;
	position: absolute;
	bottom: 20rem;
	right: 20px;
	text-align: center;
	margin-right: 5rem;
	margin-left: 50rem;
	font-family: 'Zilla Slab';
}

div .subtitle {
	color: white;
	position: absolute;
	bottom: 15rem;
	right: 20px;
	text-align: center;
	margin-right: 5rem;
	margin-left: 45rem;
	font-family: 'Zilla Slab';
	font-size: 15px;
}
/*div[class="front-bg"] {
	background-color: black;
	opacity: 0.5;
	width: 100%;
	height: 25rem;
}*/
.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.5rem;
	display: inline;
	margin-bottom: 1rem;
	position: absolute;
	bottom: 10rem;
	right: 20px;
	text-align: right;
	margin-right: 5rem;
}
.intro {
	text-align: center;
	margin-bottom: 1rem;
	margin-right: 10rem;
	margin-left: 10rem;

}

.pre-footer1 {
	text-align: center;
	margin-right: 10rem;
	margin-left: 10rem;
	margin-bottom: 2rem;
}
.prefooter-description {
	margin-bottom: 1rem;
}
button[class="book-button"] {
	color: white;
	font-weight: bold;
	background-color: #336589;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.5rem;
	display: inline;
	margin-bottom: 1rem;
}

footer {
	padding: 0.7rem;
}

footer-span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
#pre-footer {
	background-color: #002540;
	height: 10rem;
	color: white;
	vertical-align: bottom;
}

#pre-footer div{
	display: inline-block;
	min-height: 160px;
	width: 20%;
	text-align: left;
	margin: 1rem;
}

#pre-footer div h3 {
	padding: 0.1rem;
	text-align: left;
}

span {
	color: blue;
	text-align: center;
	font-size: 12px;
}
